{% extends "appbuilder/base.html" %}
<div class="container" style="margin-left:10px">
    <div class="row" style="margin-left:10px">
        <div class="col-lg-12" style="margin-left:10px">
            {% with messages = get_flashed_messages(with_categories = true ) %} {% if messages %} {% for category, message
            in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="height: 20px; padding: 0px;margin: 2px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
        </div>
    </div>
    {% endfor %} {% endif %}{% endwith %}
</div>


{% block content %}
<div class="container">
    
<div class="row">
<div class="col-lg-12" style="margin-left:10px">
    <div class="panel panel-primary ">
        <div class="panel-heading">
            <h4 class="panel-title">Carga de Fostac</h4>
        </div>
        <div class="panel-body">
            <div>
                <form action="/confirmaCargaMasivaFostac" method="post">
                    <div class="row " style="margin-left:10px;margin-top:10px">
                        <div class="col-lg-4">
                            <label for="fechaFosTac">Fecha:</label>
                            <input type="date" id="fechaFosTac" name="fechaFosTac" class="form-control mb-4" required>
                        </div>
                        <div class="col-lg-4">
                            <label for="usuarios">Valores obtenidos por :</label>
                            <select name="idUsuarioM" id="idUsuarioM" class="form-control mb-4" >
                                {%for usuario in usuarios%}
                                <option value="{{usuario.id}}">{{usuario.first_name}}, {{usuario.last_name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="col-lg-4 text-center">
                            <label for="">Todos los registros</label><br>
                            <a href="/fostacview/list/"><button type="button" class="btn btn-secondary"> Ver</button></a>
                        </div>
                    </div>
                    <div class="table-responsive" style="margin-top:10px">
                        <table class="table-sm table-bordered table-hover">
                            <thead class="thead-inverse ">
                                <tr>
                                    <th>Nombre</th>
                                    <th style="width: 15%;">Phc</th>
                                    <th style="width: 15%;">Fos</th>
                                    <th style="width: 15%;">Tac</th>
                                    <th style="width: 15%;">Fos/Tac</th>
                                    <th style="width: 15%;">Temp (C°)</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            {%for planta in plantasjoin%}
                            <input type="text" class="d-none" name="idPlantaequipo" value="{{planta.idPlantaequipo}}" style="display: none;">
                            <tr>
                                <td>
                                    <p>{{planta.nombrePlantaequipo}}</p>
                                </td>
                                <td><input type="number" min="0" max="99999" class="form-control" placeholder="fos" id="Phc{{planta.idPlantaequipo}}" name="Phc{{planta.idPlantaequipo}}">
                                </td>
                                <td><input type="number" min="3500" max="4500" class="form-control" placeholder="tac" id="Fos{{planta.idPlantaequipo}}" name="Fos{{planta.idPlantaequipo}}">
                                </td>
                                <td><input type="number" min="3500" max="4500" class="form-control" placeholder="fos/tac" id="Tac{{planta.idPlantaequipo}}" name="Tac{{planta.idPlantaequipo}}"> </td>
                                <td><input type="number" min="3500" max="4500" class="form-control" placeholder="fos" id="FosTac{{planta.idPlantaequipo}}" name="FosTac{{planta.idPlantaequipo}}">
                                </td>
                                <td><input type="number" min="3500" max="4500" class="form-control" placeholder="tac" id="Temp{{planta.idPlantaequipo}}" name="Temp{{planta.idPlantaequipo}}">
                                </td>
                                <td><input type="text" class="form-control" placeholder="fos/tac" id="Observaciones{{planta.idPlantaequipo}}"
                                        name="Observaciones{{planta.idPlantaequipo}}"></td>
                            </tr>
                            {%endfor%}
                        </table>
                        <button type="submit" class="btn btn-primary" style="margin-left:10px;margin-top:10px">Cargar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}




