{% extends "appbuilder/base.html" %}

{% block content %}

    

<div class="container"> 
<div class="row">
<div class="col-lg-12" style="margin-left:10px">
    <div class="panel panel-primary ">
        
        <div class="panel-heading" style="height:50px">
            <div class="col-lg-10">
                <h4 class="panel-title">Listado</h4>
            </div>
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
</div>
</div>

<style>
    .check {
width:30px;
height:30px;
}
</style>
{% endblock %}